
.pageIndex {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  .pageContent{
    width: 95vw;
  }
}

 .inputBox{
  margin-bottom: 8vh;
    .forgotten{
      display: block;
      height: 40px;
      padding-right: 40px;
      font-size: 28px;
      text-align: right;
      font-family: SourceHanSansSC-regular;
      color: rgba(16, 16, 16, 1);
    }
  }






