@height: 96px;

.register_screen {
    min-height: 100%;
    box-sizing: border-box;
    padding: 20px;
    box-sizing: border-box;
    background: #f2f5fc;

    input {
        font-size: 30px !important;
    }

    .register_wrap {
        // height: 50vh;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;

        .register_username,
        .register_phone,
        .register_code,
        .register_password,
        .register_inviter_phone {
            height: 100%;
            width: 100%;
            padding-left: 0;
        }

        .register_code_wrap {
            position: relative;
        }

        .register_code>div {
            padding-right: 250px;
        }

        .register_send_code {
            width: 200px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 28px;
            color: #547be7;
            position: absolute;
            z-index: 2;
            right: 0;
            top: 0;
        }

        .register_btn {
            margin-top: 100px;
            height: 94px;
            width: 100%;
            line-height: 94px;
            font-size: 30px;
            background-color: #547be7;
            color: #fff;
        }

        .register_wrap_content {
            background: #fff;
            border-radius: 12px;
            padding: 0 30px;
            box-sizing: border-box;
            width: 100%;
            height: auto;
            overflow: hidden;

            .inputContent {
                height: 110px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid rgba(226, 226, 226, 1);
                font-size: 30px;
                position: relative;

                .contLeft {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    .inputInfo {
                        height: 32px;
                        width: 108px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        .inputInfotText {
                            padding-right: 15px;
                            border-right: 2px solid #000;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;
                        }

                    }

                    .inputInfo2 {
                        height: 32px;
                        width: 108px;
                    }

                    .inputTextArea {
                        width: 500px;
                        height: 80px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        :global {
                            .index__inputBox_text___2ctJk {
                                height: 80px;
                                width: 100%;
                                border: none;
                            }
                        }
                    }
                }

                .inputIcon {
                    width: 44px;
                    height: 34px;

                    .inputImg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}