.register_screen {
    .register_wrap {
        height: 50vh;
        width: 100%;
        padding: 0 36px;
        box-sizing: border-box;
        margin-top: 208px;
        display: flex;
        .register_phone {
            height: 96px;
            width: 100%;
        }
    }
}
