.withdrawrecord_wrap {
    padding: 0 30px;
    box-sizing: border-box;
    .already_withdraw {
        padding: 30px;
        border-bottom: 1px solid #bbbbbb;
    }
    .withDraw_list {
        padding: 0 30px;
        border-bottom: 1px solid #bbbbbb;
        .withdraw_money,.withdraw_desc {
            display: flex;
            justify-content: space-between;
        }
        .withdraw_reject_reason {
            color: red;
        }
        div {
            margin: 30px 0;
        }
    }
}