.bank_page {
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
  padding-top: 72px;
  box-sizing: border-box;

  .maskContent {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    .contentBox {
      width: 600px;
      height: 408px;
      background: #fff;
      border-radius: 15px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 11;
      display: flex;
      flex-direction: column;
      align-items: center;

      .contentTitle {
        font-size: 34px;
        font-family: PingFang SC;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        margin-top: 62px;
      }

      .contentInfo {
        font-size: 30px;
        font-family: PingFang SC;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        margin-top: 72px;
      }

      .contentBtn {
        width: 466px;
        height: 76px;
        background: rgba(84, 123, 231, 1);
        border-radius: 10px;
        font-size: 30px;
        font-family: PingFang SC;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 82px;
      }
    }
  }

  .no_bank_info_box {
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .bank_info_img {
      width: 350px;
      height: 300px;
      margin-bottom: 40px;
    }

    .no_bank_info_words {
      font-size: 30px;
      font-family: PingFang SC;
      font-weight: 500;
      color: rgba(102, 102, 102, 1);
    }
  }

  .bank_info {
    width: 100%;
    height: 225px;
    border-radius: 18px;
    overflow: hidden;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 50px;
    background: linear-gradient(-90deg, rgba(48, 101, 194, 1) 0%, rgba(76, 122, 205, 1) 100%);

    .bank_box {
      width: 100%;
      height: 100%;
      position: relative;

      .card_num {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .bank_box_left {
      flex: 1;
      height: 100%;
      position: relative;

      .bank_box_left_img {
        width: 88px;
        height: 88px;
        border-radius: 44px;
        background: #fff;
        position: absolute;
        right: 24px;
        top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .bank_img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .bank_box_middle {
      flex: 4;
      height: 100%;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 50px;
      box-sizing: border-box;

      .bank_name {
        height: 30px;
        line-height: 1;
        font-size: 30px;
        margin-bottom: 15px;
      }

      .card_type {
        height: 25px;
        line-height: 1;
        font-size: 25px;
        margin-bottom: 30px;
      }

      .card_num {
        height: 30px;
        line-height: 1;
        font-size: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .card_num_icon {
          margin-right: 15px;
        }

        .card_num_end {
          color: #fff;
        }
      }
    }

    .bank_box_right {
      flex: 1;
      height: 100%;
      position: relative;

      .bank_box_right_bind {
        color: #fff;
        position: absolute;
        width: 100px;
        text-align: left;
        left: 0;
        top: 50px;
        font-size: 30px;
        text-decoration: underline
      }
    }
  }

  .bindBtn {

    background: #557ae6;
    color: #fff;
    position: fixed;
    bottom: 60px;
    width: 92%;
    font-size: 30px;
  }
}

.no_data {
  padding-top: 180px;
  text-align: center;
}