  .package_main {
    min-height: 50vh;
    height: 118vw;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: #fff;

    .total_package_box {
      padding: 30px 20px 0px 20px;

      .total_package {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 53px;
        background: rgba(242, 245, 252, 1);
        border-radius: 26px;

        .check_record {
          font-size: 26px;
          line-height: 30px;
          font-family: PingFang SC;
          font-weight: 500;
          border-bottom: 2px solid #547BE7;
          color: rgba(84, 123, 231, 1);
        }
      }

    }

    .list_package_box {
      padding: 0 34px;
    }

    .list_package>div {
      display: flex;
      align-items: center;
    }

    .list_package {
      display: flex;
      justify-content: space-between;
      padding: 20px 0px;
      border-bottom: 1px solid #E2E2E2;

      div:nth-child(1) {
        font-size: 30px;
        font-family: PingFang SC;
        font-weight: bold;
        color: rgba(84, 123, 231, 1);
      }

      ul {
        li {
          display: flex;
          margin-bottom: 13px;
          text-align: left;
          font-size: 26px;
          line-height: 26px;
          font-family: PingFang SC;
          font-weight: 500;
          color: rgba(0, 0, 0, 1);

          span {
            color: #999999
          }

          .transfer {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 132px;
            height: 50px;
            background-color: #EDF3FC;
            border-radius: 10px;
            font-size: 26px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #547BE7;
          }
        }
      }
    }
  }