.prompt {
  padding: 0px 12px;
  height: 136px;
  line-height: 40px;
  background-color: rgba(225, 225, 225, 1);
  text-align: center;
  border: 2px solid rgba(255, 0, 0, 0);
  font-size: 24px;

  div {
    display: flex;
    justify-content: space-between;

    .improve_button {
      color: rgba(73, 135, 244, 1);
      border-bottom: 2px solid rgba(73, 135, 244, 1)
    }

    .change_record {
      color: rgba(73, 135, 244, 1);
      border-bottom: 2px solid rgba(73, 135, 244, 1)
    }
  }

  div:nth-child(1) {
    margin-top: 10px;
    margin-bottom: 28px;
  }
}


.preview_queue {
  .show_title {
    height: 80px;
    line-height: 80px;
    background-color: rgba(164, 162, 162, 1);
    border: 2px solid rgba(187, 187, 187, 1);
    display: flex;
    color: rgba(16, 16, 16, 1);
    font-size: 28px;
    font-family: SourceHanSansSC-bold;
    font-weight: bold;

    span {
      text-align: center;
    }

    span:nth-child(1) {
      flex: 1.5;
    }

    span:nth-child(2) {
      flex: 1.5;
    }

    span:nth-child(3) {
      flex: 2.5;
    }

    span:nth-child(4) {
      flex: 1.5;
    }
  }

  .list_children {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    height: 100px;

    span {
      text-align: center;
    }

    span:nth-child(1) {
      flex: 1.5;
    }

    span:nth-child(2) {
      flex: 1.5;
    }

    span:nth-child(3) {
      flex: 2.5;
    }

    span:nth-child(4) {
      flex: 1.5;
    }
  }
}

.store_help {
  position: fixed;
  height: 80px;
  width: 80px;
  right: 10px;
  top: 50vh;
  border: 2px solid #ededed;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  font-size: 24px;
  color: #cfc5c5;
}

.omit {
  text-align: center;
  height: 80px;
  line-height: 80px;
}

.constrol_place {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}