.store_queue {
  // min-height: 50vh;
  // height: 106vw;
  height: 72vh;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: #fff;
}

.getmore {
  text-align: center;
  padding: 25px 0;
}

.prompt {
  // margin: 10px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  background: rgba(242, 245, 252, 1);
  border-radius: 26px;
  font-size: 24px;

  div {
    display: flex;
    justify-content: space-between;

    .improve_button {
      margin-right: 15px;
      color: rgba(73, 135, 244, 1);
      border-bottom: 2px solid rgba(73, 135, 244, 1)
    }

    .change_record {
      color: rgba(73, 135, 244, 1);
      border-bottom: 2px solid rgba(73, 135, 244, 1)
    }
  }

  div:nth-child(1) {
    margin-top: 10px;
    margin-bottom: 28px;
  }
}


.preview_queue {
  .show_title {
    margin-top: 30px;
    display: flex;
    font-size: 26px;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);

    span {
      text-align: center;
    }

    span:nth-child(1) {
      flex: 1.5;
    }

    span:nth-child(2) {
      flex: 1.5;
    }

    span:nth-child(3) {
      flex: 2.5;
    }

    span:nth-child(4) {
      flex: 1.5;
    }
  }

  .list_children {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    height: 100px;

    span {
      text-align: center;
    }

    span:nth-child(1) {
      flex: 1.5;
    }

    span:nth-child(2) {
      flex: 1.5;
    }

    span:nth-child(3) {
      flex: 2.5;
    }

    span:nth-child(4) {
      flex: 1.5;
    }
  }
}

.store_help {
  position: fixed;
  height: 80px;
  width: 80px;
  right: 10px;
  top: 80vh;
  line-height: 80px;
  text-align: center;
  font-size: 24px;
  // color: #cfc5c5;
  color: #fff;
  border: 2px solid #ededed;
  border-radius: 50%;
  background-color: #5f83ea;
}

.omit {
  text-align: center;
  height: 80px;
  line-height: 80px;
}

.constrol_place {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}