
 .qr_code> header{
    margin: 0;
    padding-top: 8px;
    padding-bottom: 16px;
    background-color: #201F25 ;
    ul {
      display: flex;
      justify-content: space-around;
      color: rgba(255, 255, 255, 1);
      font-size: 28px;
      text-align: left;
      font-family: SourceHanSansSC-regular;
      li {
        padding-bottom: 6px;
      }
      .li_border{
        border-bottom: 2px solid #fff;
      }
    }
  }

  ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

