.store_rules{
  padding: 34px;
  .title {
    color: rgba(16, 16, 16, 1);
    font-size: 28px;
    text-align: left;
    font-family: SourceHanSansSC-bold;
    font-weight: bold;
    margin-bottom: 20px;
  }

  ul {
    margin-bottom: 60px;
    li {
      height: 50px;
      line-height: 50px;
    }
  }
  .foot_end{
    margin-top: 60px;
  }
}