
.changePassword{
  display: flex;
  justify-content: center;
  .changeBox{
    padding-top: 26px;
    width: 100%;
    .forget{
      text-align: right;
      padding-top: 28px;
      padding-right: 25px;
      color: rgba(16, 16, 16, 1);
      font-size: 28px;
      font-family: SourceHanSansSC-regular;
    }
    .confirm{
      position: fixed;
      width: 100vw;
      bottom:10vh; 
      left:0;
      display: flex;
      justify-content: center;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 94px;
        border-radius: 10px;
        background-color: rgba(26, 173, 25, 1);
        border: 2px solid rgba(5, 5, 5, 0.08);
        color: rgba(255, 255, 255, 1);
        font-size: 36px;
        font-family: PingFangSC-regular;
      }
    }

  }
}
