.finance_page {
  width: 100%;
  // min-height: 100vh;
  // height: auto;
  height: 100vh;
  background: #fff;
  position: relative;
  .finance_header {
    background: #E1E1E1;
    font-size: 26px;
    height: 60px;
    margin-bottom: 20px;
  }
  .no_data {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.item_box {
  height: 135px;
  width: 100%;
  // background: yellow;
  position: relative;
  .item_text {
    border-bottom: 1px solid #ccc;
    height: 120px;
    padding: 15px 0;
    box-sizing: border-box;
  }
  .item_name {
    font-size: 30px;
  }
  .item_time {
    font-size: 24px;
    color: #ccc;
  }
  .item_money {
    font-size: 26px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
  }
  .valid {
    position: absolute;
    right: 40px;
    top: 0;
  }
}
