.retrieve_password{
  display: flex;
  justify-content: center;
  .passwordBox{
    padding-top: 214px;
    width: 634px;
    // input {
    //   width: 634px;
    //   height: 96px;
    //   color: rgba(136, 136, 136, 1);
    //   font-size: 28px;
    //   text-align: left;
    //   font-family: Microsoft Yahei;
    //   border: 2px solid rgba(187, 187, 187, 1);
    //   margin-bottom: 31px;
    //   padding-left: 10px;
    // }
    // .passwordButton{
    //   margin-top: 21px;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 644px;
    //   height: 94px;
    //   border-radius: 10px;
    //   background-color: rgba(26, 173, 25, 1);
    //   border: 2px solid rgba(5, 5, 5, 0.08);
    //   color: rgba(255, 255, 255, 1);
    //   font-size: 36px;
    //   text-align: center;
    //   font-family: PingFangSC-regular;
    // }
  //   .verificationCode{
  //     display: flex;
  //     border: 2px solid rgba(187, 187, 187, 1);
  //     margin-bottom: 30px;
  //     width: 644px;
  //     height: 96px;
  //      input {
  //       width: 360px;
  //        height: 94px;
  //       border: none;
  //       outline: none;
  //      }
  //     div {
  //       width: 274px;
  //       height: 96px;
  //       border-radius: 8px;
  //       color: rgba(16, 16, 16, 1);
  //       font-size: 28px;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       font-family: Microsoft Yahei;
  //       border-left: 2px solid rgba(187, 187, 187, 1);
  //       border-right: 1px solid rgba(187, 187, 187, 1);
  //     }

  //   }
  }
}
.verificationCode{
  // width: 100%;
  display: flex;
  border: 2px solid rgba(187, 187, 187, 1);
  margin-bottom: 30px;
  height: 96px;
  background-color: #fff;
  padding-left: 10px;
   input {
    width: 60vw;
    height: 94px;
    border: none;
    outline: none;
   }
  div {
    width: 40vw;
    height: 96px;
    border-radius: 8px;
    color: rgba(16, 16, 16, 1);
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Microsoft Yahei;
    border-left: 2px solid rgba(187, 187, 187, 1);
    border-right: 1px solid rgba(187, 187, 187, 1);
    background-color: #fff;
  }

}
